body {
  background-image: url('https://www.aeccglobal.sg/images/2023/01/31/finance-course.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  z-index: 1000;
  margin-bottom: 10px;
}

.content {
  padding-top: 60px;
}

.home-page h1 {
  margin-top: 0;  
  padding-top: 0; 
  justify-content: center; 
  color: black;
}

.home-page p {
  justify-content: center; 
  color: black;
}


.footerComment {
  margin-bottom: 10px;
}

.information-page {
  color: black;
  margin-top: 10px;
}

.informationPageTextContainer{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  margin-top: 50px;
  opacity: 0.80;
}

.informationPageTextContainer h2,
.informationPageTextContainer h3 {
  margin-top: 10px;
}

.search-page {
  color: black;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Gill Sans", sans-serif;
}

.search-filters input[type="text"] {
  border: 1px solid #000;
  background-color: white;
  padding: 10px 20px;
  margin-right: 10px;
  transition: border-color 0.3s;
  font-family:'Gill Sans', sans-serif;
  width:150px;
}

.search-filters input[type="text"]:focus {
  border-color: #666;
  width: 150px;
}

.search-filters button {
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  color: black;
}

.search-filters button:hover {
  background-color: #f0f0f0;
}

.table-container {
  margin-top:10px;
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  background-color: rgba(255, 255, 255, 0.75);
}

.search-page table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.search-page th:first-child,
.search-page td:first-child {
  width: 40px;
  text-align: center;
}

.search-page th,
.search-page td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.search-page th {
  background-color: #f2f2f2;
}

.search-page tr:nth-child(even) {
  background-color: #f2f2f2;
}

.portfolios-page {
  color: black;
  padding-top: 1px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Gill Sans", sans-serif;
  margin-top: 10px;
}

.portfolios-page .table-container {
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  background-color: rgba(255, 255, 255, 0.75);
}

.portfolios-page table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.portfolios-page th:first-child,
.portfolios-page td:first-child {
  width: 80px;
  text-align: center;
}

.portfolios-page th,
.portfolios-page td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.portfolios-page th {
  background-color: #f2f2f2;
}

.portfolios-page tr:nth-child(even) {
  background-color: #f2f2f2;
}

.portfolios-page button {
  border: 1px solid #000;
  background-color: black;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.portfolios-page button:hover {
  background-color: #f0f0f0;
}

/* Adjust the specificity for the .build-portfolio-button styles */
.search-filters .build-portfolio-button {
  background-color: grey;
  color: #999;
  transition: background-color 0.3s ease;
  border: none;
}

.search-filters .build-portfolio-button:hover {
  background-color: grey;
  cursor: not-allowed;
}

.search-filters .build-portfolio-button.active {
  background-color: green;
  color: white;
}

.search-filters .build-portfolio-button.active:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.search-page th,
.portfolios-page th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 10;
}
.login-page {}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
}

.login-container h1 {
  color: black;
}

.form-group {
  margin-bottom: 15px;
  color:black;
}

.signInButton {
  background-color: #007bff;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
} */

button:hover {
  background-color: #0056b3;
}

.logout-page {}

.login-container h1 {
  color:black;
}

.sign-up-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px; /* Adjusted width to accommodate the larger form */
  padding: 30px; /* Increased padding for better appearance */
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 8px;
  color:black;
}

.sign-up-page label {
  display: block;
  margin-bottom: 5px;
}

.sign-up-page input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.sign-up-page .error {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.sign-up-page button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sign-up-page button:hover {
  background-color: #0056b3;
}







