body {
  background-image: url('https://www.aeccglobal.sg/images/2023/01/31/finance-course.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  z-index: 1000;
}

.content {
  padding-top: 60px;
}

.home-page {}

.information-page {
  color: black;
}

.textContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.textContainer h2,
.textContainer h3 {
  margin: 0;
}

.search-page {
  color: black;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Gill Sans", sans-serif;
}

.search-filters input[type="text"] {
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  transition: border-color 0.3s;
  font-family:'Gill Sans', sans-serif
}

.search-filters input[type="text"]:focus {
  border-color: #666;
}

.search-filters button {
  border: 1px solid #000;
  background-color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.search-filters button:hover {
  background-color: #f0f0f0;
}

.table-container {
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  background-color: rgba(255, 255, 255, 0.75);
}

.search-page table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.search-page th:first-child,
.search-page td:first-child {
  width: 40px;
  text-align: center;
}

.search-page th,
.search-page td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.search-page th {
  background-color: #f2f2f2;
}

.search-page tr:nth-child(even) {
  background-color: #f2f2f2;
}

.portfolios-page {
  color: black;
  padding-top: 1px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Gill Sans", sans-serif;
}

.portfolios-page .table-container {
  overflow-y: auto;
  max-height: calc(100vh - 70px);
  background-color: rgba(255, 255, 255, 0.75);
}

.portfolios-page table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.portfolios-page th:first-child,
.portfolios-page td:first-child {
  width: 80px;
  text-align: center;
}

.portfolios-page th,
.portfolios-page td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.portfolios-page th {
  background-color: #f2f2f2;
}

.portfolios-page tr:nth-child(even) {
  background-color: #f2f2f2;
}

.portfolios-page button {
  border: 1px solid #000;
  background-color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.portfolios-page button:hover {
  background-color: #f0f0f0;
}

.search-page th,
.portfolios-page th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 10;
}
.login-page {}

.logout-page {}

.sign-up-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 20px;
  background-color: rgba(255, 255, 255, 0.75); /* Adding a wash effect */
}

.signup-form-container {
  background-color: #fff; /* Solid white background */
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}



