body {
  background-image: url('https://www.aeccglobal.sg/images/2023/01/31/finance-course.webp');
  background-size: 100% 100%; /* Scale the background image to fill the entire container */
  background-repeat: no-repeat;
  background-attachment: scroll; /* Allows the background to scroll with the window's content */
}

.navbar {
  position: fixed; /* Fixed positioning */
  top: 0; /* Aligns to the top */
  left: 0; /* Aligns to the left */
  width: 100%; /* Full width */
  background-color: #f0f0f0; /* Background color */
  padding: 10px; /* Some padding for visual appeal */
  z-index: 1000; /* Ensures that the navbar stays above other content */
}

/* Add some padding to the content so it doesn't overlap with the navbar */
.content {
  padding-top: 60px; /* Adjust as needed depending on the size of your navbar */
}

/* App.css */
.home-page {
  /* styles for home page */
}

.information-page {
  /* styles for information page */
  color: black;
}

.information-page {
  color: black;
}

.textContainer {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

/* Style for h2 and h3 within textContainer */
.textContainer h2,
.textContainer h3 {
  margin: 0; /* Remove default margin */
}




.search-page {
  /* styles for search page */
  color: black;
  padding-top: 200px; /* or margin-top: 50px; */
}

.search-page table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-y: auto; /* Enables vertical scrolling */
  display: block; /* Allows the overflow to work */
  max-height: calc(100vh - 70px); /* Sets the max height, adjust as needed */
}

.search-page th,
.search-page td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.search-page th {
  background-color: #f2f2f2;
}

.search-page tr:nth-child(even) {
  background-color: #f2f2f2;
}

.search-page tr:hover {
  background-color: #f5f5f5;
}



.login-page {
  /* styles for login page */
}

.logout-page {
  /* styles for logout page */
}

.sign-up-page {
  /* styles for sign-up page */
}
